* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #4b4b4b;
    color: rgb(226, 226, 226);
}

header {
    display: flex;
    width: 90%;
    margin: auto;
    height: 10vh;
    align-items: center;
    text-shadow: 2px 2px 3px rgb(39, 39, 39);
}

.logo-container, .nav-links {
    display: flex;
}

.logo-container {
    flex: 1;
}

.logo {
    font-weight: 400;
    margin: 5px;
}

nav {
    flex: 2
}

.nav-links {
    justify-content: space-around;
    list-style-type: none;    
}

.nav-link {
    font-size: 18px;
    text-decoration: none;
    color: inherit;
}

.info-paragraph {
    width: 80%;
    margin: 0 auto 50px auto;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(39, 39, 39);
}


