* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex;
    width: 90%;
    margin: auto;
    height: 10vh;
    align-items: center;
}

.logo-container, .nav-links {
    display: flex;
}

.logo-container {
    flex: 1;
}

.logo {
    font-weight: 400;
    margin: 5px;
}

nav {
    flex: 2
}

.nav-links {
    justify-content: space-around;
    list-style-type: none;    
}

.nav-link {
    color: rgb(73, 73, 73);
    font-size: 18px;
    text-decoration: none;
}